<section style="height: 100%; width: 100%; background: white; align-items: center;">

  <div class="lg:block hidden">
    <div class="absolute bottom-0 left-0">
      <div
        style="width: 265px; height: 300px; background: linear-gradient(180deg, #454ADE 0%, #3EF992 100%);; border-top-right-radius: 100%;">
      </div>
    </div>
  </div>


  <div class="lg:block hidden">
    <div class="absolute top-0 right-0">
      <div style="width: 280px; height: 350px; background:linear-gradient(180deg, rgba(69, 74, 222, 0.2) 0%, rgba(62, 249, 146, 0.2) 100%); border-bottom-left-radius: 100%;">
      </div>
    </div>
  </div>

  <div class="lg:block hidden">
    <div class=" lg:h-[100%] h-[60%] ml-48" style=" display: flex; position: absolute; align-items: center; ">
      <i><img src="assets/img/+.png" alt=""></i>
    </div>
  </div>

  <div class="lg:block hidden">
    <div class=" top-0 right-0 mr-96 mt-24" style=" display: flex; position: absolute;  ">
      <i><img src="assets/img/°.png" alt=""></i>
    </div>
  </div>

  <div class="lg:block hidden">
    <div class=" bottom-0 right-0 mr-56 mb-36" style=" display: flex; position: absolute;  ">
      <i><img src="assets/img/°.png" alt=""></i>
    </div>
  </div>

  <div class="block lg:hidden">
    <div class=" top-56 right-14" style=" display: flex; position: absolute;  ">
      <i><img src="assets/img/° (1).png" alt=""></i>
    </div>
  </div>

  <div class="block lg:hidden">
    <div class="top-56 left-9" style=" display: flex; position: absolute;  ">
      <i><img class=" " src="assets/img/+ (1).png" alt=""></i>
    </div>
  </div>

  <div class="block lg:hidden">
    <div class="  top-80 right-8" style=" display: flex; position: absolute;  ">
      <i><img src="assets/img/° (1).png" alt=""></i>
    </div>
  </div>

  <div class="lg:w-[100%]" style="height: 100%; display: flex; align-items: center; justify-content: center;">

        <img class="lg:hidden block absolute flex justify-center bottom-0" src="assets/img/Ellipse 29.png" alt="">


      <div class="flex flex-col">
        <div class="flex justify-center">
          <img src="assets/img/pointt-logo.png" alt="">
        </div>
        <div class="flex justify-center">
          <lottie-player class="hidden lg:block" src="https://assets10.lottiefiles.com/packages/lf20_kgs50qu6.json"  background="transparent"  speed="1"  style="width: 320px; height: 320px;"  loop autoplay></lottie-player>
          <lottie-player class="lg:hidden block" src="https://assets10.lottiefiles.com/packages/lf20_kgs50qu6.json"  background="transparent"  speed="1"  style="width: 250px; height: 250px;"  loop autoplay></lottie-player>
        </div>
        <div class="BiennaleBlod flex justify-center lg:text-[40px] text-[16px] lg:mt-2 mt-20 2xl:mt-12">
          <p>Mensaje enviado con éxito</p>
        </div>
        <div class="flex justify-center BiennaleMedium mt-0.5">
          <div class="lg:w-[509px] lg:text-[17px] mt-4 text-[12px]" style="color: gray;">
            <p class="flex justify-center"> “LAS MARCAS NO SE DICEN, SE HACEN,</p>
            <p class="flex justify-center">PORQUE AL HACERLAS, SE DICEN SOLAS”</p>
          </div>
        </div>

        <div class="lg:block hidden">
          <div class="flex justify-center mt-12">
            <button target="" class="btn-conversemos" mat-button [routerLink]="'/#'">
              Seguir Explorando</button>
          </div>

        </div>

        <div class="block lg:hidden" style="width: 100%;">
          <div class="flex justify-center mt-12" style="width: 100%;">
            <button target=""  style="width: 100%;"  class="btn-conversemos" mat-button [routerLink]="'/#'">
              Seguir Explorando</button>
          </div>

        </div>


      </div>
    </div>





</section>
