<div class="hidden lg:block mt-28">

  <!-- Container -->
  <div class="w-[100%]">
    <div class="flex justify-center lg:mt-16 xl:mt-24 space-x-10">
      <!-- First Box -->
      <div data-aos="fade-up" class="w-[592px] hidden xl:block">
        <div class="w-[592px] bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
          <div class="flex flex-col">


            <p class="ml-28 mt-6 text-[26px]"> Estrategia de marca</p>
            <i><img class="absolute ml-4" src="assets/img/Group 3294.png" alt=""></i>
            <p class="BiennaleMedium w-[418px] mt-2 ml-28" style="color:#707070;">Definiremos cómo se moverá tu marca en
              el mercado y cuáles serán tus
              principales atributos frente a la competencia.</p>
            <div class="w-[100%] mt-5">
              <div class="BiennaleMedium flex justify-center">
                <div class="flex justify-between space-x-20">
                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">ADN de marca</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Análisis de mercado</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Benchmark</p>
                    </div>
                    <div class="flex flex-wrap ">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Territorio</p>
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Misión, visión y Objetivo</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[180px] c1">Objetivo SMART Customer journey map</p>
                    </div>
                    <div class="flex flex-wrap mb-12">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Concepto</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second box -->
      <div data-aos="fade-up" class="w-[592px] hidden xl:block" style="z-index: 100;">
        <div class="w-[592px]  bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
          <div class="flex flex-col ">
            <p class="ml-28 mt-6 text-[26px]">Branding</p>
            <i><img class="absolute ml-4" src="assets/img/Group 3295.png" alt=""></i>
            <p class="BiennaleMedium w-[418px] mt-2 ml-28" style="color:#707070;">Construimos tu identidad de marca a
              partir de estrategias únicas para
              lograr un carácter distintivo, relevante y sostenible en el tiempo.</p>
            <div class="w-[100%] mt-5">
              <div class="flex justify-center">
                <div class="BiennaleMedium flex justify-between space-x-20">
                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Diseño de logotipo</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Manual de marca</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Pantilla para R.R.S.S</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Packaging</p>
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[170px] c1">Papelería corporativa digital</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Material promocional</p>
                    </div>
                    <div class="flex flex-wrap mb-12">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Brochure</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-24 space-x-10">
      <!-- Thirt Box -->
      <div data-aos="fade-up" class="w-[592px] hidden xl:block">
        <div class="w-[592px] bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
          <div class="flex flex-col">
            <p class="ml-28 mt-6 text-[26px]">Gestión de redes sociales </p>
            <i><img class="absolute ml-4" src="assets/img/Group 3296.png" alt=""></i>
            <p class="BiennaleMedium w-[418px] mt-2 ml-28" style="color:#707070;">Posicionamos tu marca en redes
              sociales con la planeación de
              publicaciones, ejecución, seguimiento y levantamiento de resultados. </p>
            <div class="w-[100%] mt-5">
              <div class="flex justify-center">
                <div class="BiennaleMedium flex justify-between space-x-20">
                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[200px] c1">Diseña de pzas. gráficas</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[120px] c1">Estrategia de contenido</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[170px] c1">Programacion de publicaciones</p>
                    </div>

                  </div>

                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Misión, visión y Objetivo</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[180px] c1">Video y fotografía publicitaria</p>
                    </div>

                    <div class="flex flex-wrap mb-14">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Asesoría digital</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Four box -->
      <div data-aos="fade-up" class="w-[592px] hidden xl:block" style="z-index: 100;">
        <div class="w-[592px] bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
          <div class="flex flex-col">
            <p class="ml-28 mt-6 text-[26px]">Digitalización</p>
            <i><img class="absolute ml-4" src="assets/img/Group 3297.png" alt=""></i>
            <p class="BiennaleMedium w-[418px] mt-2 ml-28" style="color:#707070;">Crearemos la línea gráfica de tu marca
              para que tú o tu equipo pueda
              gestionarla según los parámetros digitales realizados.</p>
            <div class="w-[100%] mt-5">
              <div class="flex justify-center">
                <div class="BiennaleMedium flex justify-between space-x-20">
                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[170px] c1">Análisis de situación actual</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[170px] c1">Elaboración de moodboard y brandboard</p>
                    </div>

                  </div>
                  <div class="flex flex-col">
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Misión, visión y Objetivo</p>
                    </div>
                    <div class="flex flex-wrap">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="w-[180px] c1">Objetivo SMART Customer journey map</p>
                    </div>
                    <div class="flex flex-wrap mb-14">
                      <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                      <p class="c1">Concepto</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>



  <!-- Container medida 1024 -->
  <div class="w-[100%] ">
    <div class="flex justify-center mt-24 space-x-10">
      <div class="flex flex-col">
        <!-- First Box -->
        <div data-aos="fade-up" class="w-[592px] xl:hidden block z-10">
          <div class="w-[592px] bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
            <div class="flex flex-col">
              <p class="ml-28 mt-6 text-[26px]">Estrategia de marca</p>
              <i><img class="absolute ml-4" src="assets/img/Group 3294.png" alt=""></i>
              <p class="BiennaleMedium w-[418px] mt-2 ml-28"  style="color:#707070;">Definiremos cómo se moverá tu marca en el mercado y cuáles serán tus
                principales atributos frente a la competencia.</p>
              <div class="w-[100%] mt-5">
                <div class="flex justify-center">
                  <div class="BiennaleMedium flex justify-between space-x-20">
                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>ADN de marca</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Análisis de mercado</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Benchmark</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Territorio</p>
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Misión, visión y Objetivo</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[170px]">Objetivo SMART Customer journey map</p>
                      </div>
                      <div class="flex flex-wrap mb-12 space-x-4">
                        <i><img class="mt-[2.5px]" src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Concepto</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Second box -->
        <div data-aos="fade-up" class="w-[592px] xl:hidden block z-10">
          <div class="w-[592px] mt-10 bg-[#FFFFFF]"
            style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
            <div class="flex flex-col">
              <p class="ml-28 mt-6 text-[26px]">Branding</p>
              <i><img class="absolute ml-4" src="assets/img/Group 3295.png" alt=""></i>
              <p  class="BiennaleMedium w-[418px] mt-2 ml-28"  style="color:#707070;" >Construimos tu identidad de marca a partir de estrategias únicas para
                lograr un carácter distintivo, relevante y sostenible en el tiempo.</p>
              <div class="w-[100%] mt-5">
                <div class="flex justify-center">
                  <div class="flex justify-between space-x-20 BiennaleMedium">
                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Diseño de logotipo</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Manual de marca</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Pantilla para R.R.S.S</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Packaging</p>
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[170px]">Papelería corporativa digital</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Material promocional</p>
                      </div>
                      <div class="flex flex-wrap mb-12 space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Brochure</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-10">
      <!-- Thirt Box -->

      <div data-aos="fade-up" class="flex flex-col">
        <div class="w-[592px] xl:hidden block">
          <div class="w-[592px] bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
            <div class="flex flex-col">
              <p class="ml-28 mt-6 text-[26px]">Estrategia de marca</p>
              <i><img class="absolute ml-4" src="assets/img/Group 3296.png" alt=""></i>
              <p class=" BiennaleMedium w-[418px] mt-2 ml-28"  style="color:#707070;">Posicionamos tu marca en redes sociales con la planeación de
                publicaciones, ejecución, seguimiento y levantamiento de resultados. </p>
              <div class="w-[100%] mt-5">
                <div class="flex justify-center">
                  <div class="flex justify-between space-x-20 BiennaleMedium">
                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[200px]">Diseña de pzas. gráficas</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[120px]">Estrategia de contenido</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[170px]">Programacion de publicaciones</p>
                      </div>

                    </div>

                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Misión, visión y Objetivo</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[170px]">Video y fotografía publicitaria</p>
                      </div>

                      <div class="flex flex-wrap mb-14 space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Asesoría digital</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Four box -->
        <div data-aos="fade-up" class="w-[592px] xl:hidden block">
          <div class="w-[592px] mt-10 bg-[#FFFFFF]"
            style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
            <div class="flex flex-col">
              <p class="ml-28 mt-6 text-[26px]">Digitalización</p>
              <i><img class="absolute ml-4" src="assets/img/Group 3297.png" alt=""></i>
              <p  class=" BiennaleMedium w-[418px] mt-2 ml-28"  style="color:#707070;">Crearemos la línea gráfica de tu marca para que tú o tu equipo pueda
                gestionarla según los parámetros digitales realizados.</p>
              <div class="w-[100%] mt-5">
                <div class="flex justify-center">
                  <div class="flex justify-between space-x-20 BiennaleMedium">
                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[170px]">Análisis de situación actual</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[170px]">Elaboración de moodboard y brandboard</p>
                      </div>
                    </div>
                    <div class="flex flex-col">
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Misión, visión y Objetivo</p>
                      </div>
                      <div class="flex flex-wrap space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p class="w-[170px]">Objetivo SMART Customer journey map</p>
                      </div>
                      <div class="flex flex-wrap mb-14  space-x-4">
                        <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                        <p>Concepto</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class=" hidden lg:block">
      <div class="flex justify-center">

        <div class="lg:mt-10 xl:mt-18 xl:mb-40">
          <button target="" class="btn-conversemos" mat-button onclick="window.location.href='#contacto'">
            Conversemos</button>
        </div>

      </div>
    </div>


  </div>
</div>



<!-- Container medida responsive -->
<div class="w-[100%] block lg:hidden">


  <!-- First Box -->
  <div data-aos="fade-up" class="w-[100%] flex justify-center mt-20">
    <div class="w-[85%] bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
      <div class="flex flex-col mt-6">
        <div class="flex justify-center">
          <div class="flex flex-wrap">
            <i><img src="assets/img/Group 3294.png" alt=""></i>
            <p class="mt-6 text-[18px] w-[150px] ml-6">Estrategia de marca</p>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="BiennaleMedium w-[228px] mt-4 text-[13px]" style="color: #707070;">Definiremos cómo se moverá tu marca en el
            mercado y cuáles serán tus
            principales atributos frente a la competencia.</p>
        </div>
        <div class="w-[100%] mt-5 flex justify-center">
          <div class="flex justify-center">
            <div class="flex flex-col">
              <div class="flex justify-center ">
                <div class="flex flex-col space-y-4 text-[13px] BiennaleBlod ">
                  <div class="flex flex-wrap space-x-4">
                    <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                    <p>ADN de marca</p>
                  </div>
                  <div class="flex flex-wrap space-x-4">
                    <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                    <p>Análisis de mercado</p>
                  </div>
                  <div class="flex flex-wrap space-x-4">
                    <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                    <p>Benchmark</p>
                  </div>
                  <div class="flex flex-wrap space-x-4">
                    <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                    <p>Territorio</p>
                  </div>
                  <div class="flex flex-wrap space-x-4">
                    <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                    <p>Misión, visión y Objetivo</p>
                  </div>
                  <div class="flex flex-wrap space-x-4">
                    <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                    <p class="w-[190px]">Objetivo SMART Customer journey map</p>
                  </div>
                  <div class="flex flex-wrap mb-12 space-x-4">
                    <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                    <p class="mb-10">Concepto</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Second box -->
  <div data-aos="fade-up" class="w-[100%] flex justify-center">
    <div class="w-[85%] mt-10 bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
      <div class="flex flex-col mt-6">
        <div class="flex justify-center">
          <div class="flex flex-wrap">
            <i><img src="assets/img/Group 3295.png" alt=""></i>
            <p class="mt-6 text-[18px] w-[150px] ml-6">Branding</p>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="BiennaleMedium w-[228px] mt-4 text-[13px]" style="color: #707070;">Construimos tu identidad de marca a partir de
            estrategias únicas para
            lograr un carácter distintivo, relevante y sostenible en el tiempo.</p>
        </div>
        <div class="w-[100%] flex justify-center mt-5">
          <div class="flex justify-center">
            <div class="flex flex-col">
              <div class="flex flex-col space-y-4 text-[13px] BiennaleBlod ">
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Diseño de logotipo</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Manual de marca</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Pantilla para R.R.S.S</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Packaging</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="w-[170px]">Papelería corporativa digital</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Material promocional</p>
                </div>
                <div class="flex flex-wrap mb-12 space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="mb-10">Brochure</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Thirt Box -->
  <div data-aos="fade-up" class="w-[100%] flex justify-center">
    <div class="w-[85%] mt-10 bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
      <div class="flex flex-col mt-6">
        <div class="flex justify-center">
          <div class="flex flex-wrap">
            <i><img src="assets/img/Group 3296.png" alt=""></i>
            <p class="mt-6 text-[18px] w-[150px] ml-6">Gestión de redes sociales </p>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="BiennaleMedium w-[228px] mt-4 text-[13px]" style="color: #707070;">Posicionamos tu marca en redes sociales con la
            planeación
            de publicaciones, ejecución, seguimiento y levantamiento de resultados. </p>
        </div>
        <div class="w-[100%] flex justify-center mt-5">
          <div class="flex justify-center">
            <div class="flex flex-col">
              <div class="BiennaleBlod flex flex-col space-y-4 text-[13px]">
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Diseño de pzas. gráficas</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Estrategias de contenido</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="w-[170px]">Programacion de publicaciones</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Campañas de social ADS</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="w-[170px]">Video y fotografía publicitaria</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="mb-10">Asesoría Digital</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Four box -->
  <div data-aos="fade-up" class="w-[100%] flex justify-center">
    <div class="w-[85%] mt-10 bg-[#FFFFFF]" style="border-radius: 12px; box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);">
      <div class="flex flex-col mt-6">
        <div class="flex justify-center">
          <div class="flex flex-wrap">
            <i><img src="assets/img/Group 3297.png" alt=""></i>
            <p class="mt-6 text-[18px] w-[150px] ml-6">Digitalización</p>
          </div>
        </div>
        <div class="flex justify-center">
          <p class="BiennaleMedium w-[228px] mt-4 text-[13px]" style="color: #707070;">Crearemos la línea gráfica de tu marca para que
            tú o tu
            equipo pueda gestionarla según los parámetros digitales realizados. </p>
        </div>
        <div class="w-[100%] flex justify-center mt-5">
          <div class="flex justify-center">
            <div class="flex flex-col">
              <div class="BiennaleBlod flex flex-col space-y-4 text-[13px]">
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Análisis de situación actual</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="w-[170px]">Elaboración de moodboard y brandboard</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p>Plantillas para storys</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="w-[170px]">Plantillas para redes sociales</p>
                </div>
                <div class="flex flex-wrap space-x-4">
                  <i><img src="assets/img/lista-de-verificacion 1.png" alt=""></i>
                  <p class="w-[170px] mb-10">Formato de grillas y camapañas mensuales</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="w-[100%]">
    <div class="flex justify-center mt-10">


      <button data-aos="fade-down" data-aos-duration="800" class="btn-conversemos" style="filter: drop-shadow(0px 4px 40px rgba(69, 74, 222, 0.4)); width: 85%;" target="" mat-button
        onclick="window.location.href='#contacto'">
        Contacto</button>

    </div>
  </div>


</div>
