/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.formulario{
  width: 20%;
  height: 50%;
}


.btn-conversemos:hover{
  transition: 0.40s;
  transform: scale(1.05);
  background: black;
  cursor: pointer;
   background: rgb(78, 78, 252);
    border-radius: 12px;
     width: 210px;
      height:48px;
       color: #ffffff;
}
